{% extends 'base.html' %}
{% load static %}
{% block content %}
			<div  class="container-fluid">
				<h3>Instructions to use:</h3>
				<p>
					<h4>The input must contain the following data in a text <i>(.txt)</i> file format.</h4>
					<h5>The Number of machines Followed by for each Job:-</h5>
					<ul>
					<li>Job Name</li>
					<li>Duration: time taken for job completion</li>
					<li>Priority: priority of the job. P0>P1>P2</li>
					<li>Deadline: Expiry time after which job should not be run
						 (The clock starts from 0 and deadline is the actual clock time).</li>
					<li>UserType: Type of user who has initiated the job, Precedence of users Root>Admin>User</li>
				</ul></p>
			</div>
	<div style="text-align:center">
		{% comment %} POST data to Database {% endcomment %}
		<h2>Upload a '.txt' file</h2>
		<form method="POST" action='' enctype="multipart/form-data">
			{% csrf_token %}
            {{form.as_p}}
			<button type='submit' method='POST'>
				Upload
			</button>
        </form>
	</div>
<br>
{% endblock content %}